$icon-color: #333;
$icon-font-weight: 300;
$icon-opacity: 0.8;

$body-color: #e8e8e8;

@mixin icon-link {
  color: $icon-color;
  opacity: $icon-opacity;
  font-weight: $icon-font-weight;
}

@mixin rounded($radius:4px) {
  -webkit-border-radius : $radius;
  -moz-border-radius : $radius;
  border-radius : $radius;
}
